img {
	position: absolute;
	right: 30px;
	bottom: 10px;
	width: 1.5%;
	height: 50%;
}

.random-list {
	background-color: inherit;
	border-radius: 5px;
	margin-bottom: 1px;
	border-style: solid;
	border-size: 1px;
	border-color: grey;
	padding: 10px;
	position: relative;
	box-shadow: 1.25px 1.25px 0.625px #888888;
}