.date {
	border : 1px solid #ccc;
	padding : 10px;
}


.spinner {
	border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.hidden {
    display: none;
}

.popup {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 300px;
    height: 400px;
    z-index: 1000;
    top: 0px;
    background: #fff;
    border: 1px solid #ccc;
    color: white;
}

.datepicker {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    width: 200px;
    height: 200px;
}

.mask {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 500;
    background-color: rgba(0, 0, 0, 0.5);
}

.event {
    color: #232323;
    padding: 1em;
    border-bottom: 1px solid #ccc;
    margin-top: 1em;    
}