.input-text {
    border: 1px solid #000;
    width: 20%;
    padding: 3px;
}

.list-display {
    height: 200px;
    width: 300px;
    border: 1.5px solid #ccc;
    border-radius: 6px;
    overflow: hidden;
}

.list-display div {
    padding: 6px;
    border-bottom: 1.5px solid #ccc;
}

.highlight {
	background-color: yellow;
}
